SUBSYSTEM=="tty", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="e001", MODE="0666", SYMLINK+="MARVELL:MONAHANS_P:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="c001", MODE="0666", SYMLINK+="MARVELL:MONAHANS_L:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="8086", ATTRS{idProduct}=="d001", MODE="0666", SYMLINK+="MARVELL:TAVOR:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8100", MODE="0666", SYMLINK+="MARVELL:MONAHANS_P:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8101", MODE="0666", SYMLINK+="MARVELL:MONAHANS_L:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8102", MODE="0666", SYMLINK+="MARVELL:MONAHANS_LV:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8103", MODE="0666", SYMLINK+="MARVELL:TAVOR_P_PXA920:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8104", MODE="0666", SYMLINK+="MARVELL:TAVOR_PV_PV2_PXA940_PXA950:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8105", MODE="0666", SYMLINK+="MARVELL:TAVOR_L_TTC:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8106", MODE="0666", SYMLINK+="MARVELL:PXA168_ARMADA_16x:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8111", MODE="0666", SYMLINK+="MARVELL:PXA920_TAVOR_TD:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8112", MODE="0666", SYMLINK+="MARVELL:MMP2_PXA688_ARMADA_610:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8113", MODE="0666", SYMLINK+="MARVELL:88AP001:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8114", MODE="0666", SYMLINK+="MARVELL:MG1_PXA955:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8115", MODE="0666", SYMLINK+="MARVELL:TAVOR_PV2_MG2_88CP958:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8116", MODE="0666", SYMLINK+="MARVELL:ESHEL_PXA1701:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8117", MODE="0666", SYMLINK+="MARVELL:NEVO_PXA978:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8118", MODE="0666", SYMLINK+="MARVELL:MMP3_PXA212X:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8128", MODE="0666", SYMLINK+="MARVELL:ESHEL2_PXA1801:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8129", MODE="0666", SYMLINK+="MARVELL:MMP2X_ARMADA_622:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="812a", MODE="0666", SYMLINK+="MARVELL:WUKONG_PXA1202:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8130", MODE="0666", SYMLINK+="MARVELL:NEZHA_PXA1802:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8163", MODE="0666", SYMLINK+="MARVELL:GRANITE2_88PA62-70:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8164", MODE="0666", SYMLINK+="MARVELL:EMEI_PXA928_KUNLUN_PXA986_WUTAI_PXA888:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8165", MODE="0666", SYMLINK+="MARVELL:TD2_PXA1920:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8166", MODE="0666", SYMLINK+="MARVELL:BIRCH_40_PXA2101:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8167", MODE="0666", SYMLINK+="MARVELL:BIRCH_28_PXA192:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8168", MODE="0666", SYMLINK+="MARVELL:ADIR_PXA1978:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8169", MODE="0666", SYMLINK+="MARVELL:TTD3_PXA1980:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8170", MODE="0666", SYMLINK+="MARVELL:HELAN_1088:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8171", MODE="0666", SYMLINK+="MARVELL:ESHEL3_PXA1812:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8174", MODE="0666", SYMLINK+="MARVELL:NEZHA_PXA1822:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="8175", MODE="0666", SYMLINK+="MARVELL:HELAN2_PXA1U88:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1299", ATTRS{idProduct}=="8199", MODE="0666", SYMLINK+="MARVELL:MMP3_PXA212X_QA_EVAL_VID_PID:%n"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1286", ATTRS{idProduct}=="ABCD", MODE="0666", SYMLINK+="MARVELL:Device_Name:%n"

